<div class="app">
    <body>
        <div class="container">
        </div>
        <section>
            <h2>GLOBAL EXC</h2>
            <span>bitcoin trading at the tip of your finger</span>
        
        </section>
        <div class="button-section">
            <p>let's get started</p>
            <a routerLink="/login"><button class="logged">log in</button></a>
            <a routerLink="/register"><button class="reg"> sign up</button></a>
        </div>
    </body>
    
    
    
    
    
    
    
</div>