<section>
    <div class="action-center">
        <div class="user">
            <div class="profile-image">

            </div>
            <div class="profile-name">
                hello! {{name}}
            </div>
           
          

        </div>
         <!--bitcoin balance-->
        <div class="bitcoin-balance">
            <p>balance: </p>
                <h1> {{ balance}}BTC</h1>
           
              
              
        </div>
        <!--profit section-->
        <div class="asset">
            <p>Profit:</p>
            <h1>{{profit}}%</h1>
         </div>
         <br>
         <br>
         <br>
            


         <!--withdraw section-->
         <div class="asset">
            <p>withdraws:</p>
            <h1>{{withdraw}}$</h1>
         </div>


         <!--action button-->
         <div class="action-bar">
            <!--first button-->
            <a routerLink="/topup">
            <button class="btn-1">
                <div class="transfer"></div>
                <p>withdraw</p>
                </button>


           
        </a>
        <!--second button-->
        <a href="https://wa.me/+2347043841530?text=Hello%2C%20I%20need%20help%20on%20your%20app%20Global Exc.">
            <button class="btn-2">
                <div class="support"></div>
                <p>help?</p>

            </button>
        </a>
         </div>
       

    
    </div>
    
              
      
    <a routerLink="/checkout">
    <div class="box">
        <h3>Bronze Plan</h3>
        <p class="p">$250</p>
        <ul>
            <li>10% profit returns</li>
            <li>24 hours live update</li>
        </ul>

        
        
    </div>
</a>

    <a routerLink="/checkout">
        <div class="box">
            <h3>Silver Plan</h3>
            <p class="p">$400</p>
            <ul>
                <li>15% profit returns</li>
                <li>18 hours auto monitoring</li>
            </ul>
           
        
        </div>
    </a>
    
    <a routerLink="/checkout">
        <div class="box">
            <h3>Gold Plan</h3>
            <p class="p">$250</p>
            <ul>
                <li>20% profit returns</li>
                <li>15 hours auto monitoring</li>
            </ul>
        
        </div>
    </a>
    <span style="color: rgb(216, 214, 214); font-family: gill sans MT; margin-left: 30%; margin-top: -4%; font-size: 10px;">Availble Payment Methods</span>
    <div class="method">

    </div>
</section>
