<div class="cover">
    <h3>welcome back</h3>
    
    <form [formGroup]="profile">
        <p class="email">Email</p>
        <input type="email" name="email" formControlName="Email" [(ngModel)]="email" required>


        <p class="password">password</p>
        <input type="password" name="password"  formControlName="Password" [(ngModel)]="password" required>
        <br>
            <button type="submit" (click)="login()" [disabled]="!profile.valid">
                log in
            </button>

            <br>
             <a  class="link" (click)="signInwithGoogle()"  >
                <div class="google">
                    <div class="google-icon"></div> <p>continue with Google</p>
                
                </div>
            </a> 
       
            
            <br>
            <br>
            <br>
            
            <span>Create Account <a routerLink="/register">Sign up</a></span>
            <br>
            <a routerLink="/reset">Forgotten Password?</a>
    </form>

</div>