<body>

                <div class="form-box">
                    <form>
                    
                                <h2>Reset password</h2>
                            
                                
                                <input type="email" required class="form-control" placeholder="Confirm your email" name="email" [(ngModel)]="email"><br>
                        
                             
                            
                              <button type="submit" class="btn btn-info" (click)="forgotPassword()">Send Link</button>
                            
                       
    
                
                
            </form>
            </div>
    </body> 
