.form-box{
    width: 40%;
    height: 60vh;
    background-color: transparent;
    text-align: center;
    transform: translate(70%, 20%);
}
h2{
    color: orangered;
    font-family: sans-serif;
    font-size: 30px;
}
input{
    width: 80%;
    height: 5vh;
    outline: none;
    border: 1px solid whitesmoke;
}
input::placeholder{
    opacity: 0.4;
}
.btn{
    width: 50%;
    height: 5vh;
    margin-top: 5%;
    outline: none;
    border: none;
    border-radius: 2px;
    font-family: sans-serif;
    background-color: orangered;
    color: white;
    font-size: 19px;
    cursor: pointer;
}
.btn:active{
    opacity: 0.4;
}
/*smaller screen*/
@media(max-width:600px){
.btn{
    width: 92%;
}
input{
    width: 90%;
}
.form-box{
    width: 100%;
    transform: translate(0%, 20%);
}
}
